@import url("./menu.css");

h1{
    font-weight: 900;
    text-align: center;
    margin-bottom: 2rem;
}
h2{
    font-weight: 700;
    text-align: left;
    font-style: italic;
    margin: 1rem 1rem 0;
}

.aboutme{
    margin: 1.5rem 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
}

.aboutme a{
    justify-items: center;
}

body main div p {
    text-align: justify;
    margin: 0.5rem 2.5rem;
}

.button {
    margin: 1rem 42.5%;
    background-color: var(--theme-bg-color);
    border-radius: 1.5rem;
    text-decoration: none;
    color: var(--theme-text-color);
    display: inline-block; /* Cela permet de donner une apparence de bouton au lien */
    width: 15%;
    text-align: center;
    font-weight: 500;
    font-style: italic;
}

.button:hover {
    background-color: var(--theme-text-color);
    color: var(--theme-bg-color);
}

.buttoncv{
    align-items: center;
    background-color: var(--theme-bg-color);
    text-decoration: none;
    border-radius: 3rem;
    color: var(--theme-text-color);
    margin: 1rem 0 1rem 25%;
    padding: 0.5rem 1rem;
    text-align: center;
    font-weight: 500;
    font-style: italic;
}

.cv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    padding: 0.1rem;
}

.svg-icon{
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.path-color{
    fill: var(--theme-text-color);
}

.buttoncv:hover .path-color{
    fill: currentColor;
}

.buttoncv:hover {
    background-color: var(--theme-text-color);
    color: var(--theme-bg-color);
}


.buttoncv:hover {
    color: var(--theme-bg-color);
}