@import url("./menu.css");

h2{
    font-weight: 700;
    text-align: left;
    font-style: italic;
    margin: 1rem 1rem 0;
}

.aboutme{
    margin: 1.5rem 5rem;
    padding: 0 0 0.5rem 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
}

.aboutme a{
    justify-items: center;
}

#contact{
    text-align: center;
}

#contact a{
    display: inline-block;
    text-decoration: none;
}

i {
    font-size: 3.5rem;
    color: var(--bgcolor-menu);
    margin: 1rem;
    transition: 0.3s;
}

i:hover {
    color: var(--letter-color-default);
}


body main div p {
    text-align: inherit;
    margin: 0.5rem 2.5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 15%;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    background-color: var(--bgcolor-menu);
    border-radius: 1.5rem;
    text-decoration: none;
    color: var(--theme-text-color);
}

.button:hover {
    background-color: var(--theme-text-color);
    color: var(--theme-bg-color);
}

.buttoncv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcolor-menu);
    text-decoration: none;
    border-radius: 1.5rem;
    margin: 1rem 0;
    color: var(--theme-text-color);
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    width: 30%;
}

.cv{
    display: flex;
    justify-content: space-around;
    padding: 0.1rem;
}

.svg-icon{
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.path-color{
    fill: var(--theme-text-color);
}

.buttoncv:hover .path-color{
    fill: currentColor;
}

.buttoncv:hover {
    background-color: var(--theme-text-color);
    color: var(--theme-bg-color);
}


.buttoncv:hover {
    color: var(--theme-bg-color);
}

@media screen and (max-width: 76.8rem) {
    .button{
        width: 15rem;
        font-size: smaller;
        font-weight: 300;
        margin-top: 1rem;
    }

    .buttoncv{
        width: 20rem;
        font-size: smaller;
        font-weight: 300;
        justify-content: center;
        margin-top: 1rem;
    }

    .cv{
        flex-direction: column;
        align-items: center;
    }
}