@import url("./menu.css");

h2{
    font-weight: 700;
    font-style: italic;
    margin: 2rem;
    text-align: left;
    gap: 2rem;
}

.title{
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    gap: 2rem;
}

h4{
    font-style: italic;
}

.projet {
    display: flex; /* Active Flexbox */
    flex-wrap: wrap; /* Permet de passer sur plusieurs lignes si nécessaire */
    justify-content: space-around; /* Espacement égal entre les éléments */
    align-items: flex-start; /* Aligne les cases en haut */
    gap: 2rem; /* Gère l'espacement uniforme entre les éléments */
    margin: 2rem auto; /* Centrer horizontalement le conteneur */
    width: 100%; /* S'assurer que le conteneur prend toute la largeur disponible */
    max-width: 120rem;
}


.realisation{
    align-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: oblique;
    max-width: 20rem;
    max-height: 20rem;
    margin: 2rem 0; /* Supprime les marges inutiles */
    padding: 1rem; /* Ajoute de l'espace interne si besoin */
    position: relative;
    display: flex; /* Transforme les `li` en conteneurs flexibles */
    flex-direction: column; /* Aligne les contenus verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    height: 20rem;
    width: 20rem;
    border-radius: 5rem;
    box-shadow: 1rem 1rem 1rem rgba(0.3, 0.3, 0.3, 0.3);
    color: var(--bgcolor-list);
    background-color: var(--bgcolor-menu);
    text-align: center;
    transition: background-color 1s ease-in-out;
}

.button{
    display: block;
    margin: 1rem auto;
    text-align: center;
    background-color: var(--theme-bg-color);
    color: var(--letter-color-default);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.link{
    text-decoration: none;
    margin: 1rem auto;
    text-align: center;
    font-size: small;
    font-weight: lighter;
    width: 11rem;
    background-color: var(--theme-bg-color);
    color: var(--letter-color-default);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}


.buttondoc{
    align-items: center;
    background-color: var(--theme-bg-color);
    text-decoration: none;
    border-radius: 3rem;
    margin: 1rem 1rem;
    color: var(--theme-text-color);
    padding: 0.5rem 0.5rem;
    width: 20rem;
    text-align: center;
    cursor: pointer;
    line-height: 1.5rem;
    font-style: italic;
    transition: 0.3s;
}

.doc{
    display: flex;
    justify-content: space-around;
    padding: 0.1rem;
}

.svg-icon{
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.path-color{
    fill: var(--theme-text-color);
}

.buttondoc:hover .path-color{
    fill: currentColor;
}

.buttondoc:hover {
    background-color: var(--theme-text-color);
    color: var(--letter-color-default);
}


.buttondoc:hover {
    color: var(--letter-color-default);
}

@media screen and (max-width: 76.8rem) {
    .button{
        width: 15rem;
        font-weight: bold;
        font-size: small;
        margin-top: 1rem;
    }

    .buttondoc{
        width: 20rem;
        font-weight: bold;
        font-size: small;
        justify-content: center;
        margin-top: 1rem;
    }

    .doc{
        flex-direction: column;
        align-items: center;
    }
}

@media (hover: none){
    .buttondoc:hover .path-color{
        fill: var(--theme-text-color);
    }

    .buttondoc:hover {
        background-color: var(--theme-bg-color);
        color: var(--theme-text-color);
    }

    .buttondoc:hover {
        color: var(--theme-text-color);
    }
}
