/* Initialisation des variables pour le thème principal */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --theme-bg-color : rgb(210, 180, 140);
    --theme-text-color : rgb(255, 255, 255);
    --letter-color-default : #222;
    --bgcolor-header : rgb(179, 154, 120);
    --bgcolor-menu : rgb(166, 123, 91);
    --bgcolor-list : rgb(223, 230, 233);
    --scrollbar-hover : rgb(117, 80, 46);
    --scrollbar : rgb(214, 165, 117);;
}

/* reset : mettre à 0 toutes les propriété du navigateur */
html{
    font-size: 62.5%; 
    /* 
    taille de la police de caractère
    62.5% * 16 = 10.00rem = root em
    */
}
body{
    font: 1.6rem sans-serif; /* taille + police 1.6rem */
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem; /* 1px */
    line-height: 1.6; /* 16px */
    background-color: white;
    color: black;
}
h1,h2,h3,p,ul{ /* contexte de balises ayant les mêmes props */
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}