@import url("./reset.css");

/* header */ 

*{
    overflow: hidden;
}

header {
    background-color: var(--bgcolor-header);
}

header > h1 {
    text-align: center;
    color: var(--theme-text-color);
    line-height: 7rem;
    margin-bottom: 1rem;
}

header > h1 span{
    vertical-align: 0.2rem; /* 2px */
}

/*body*/

body{
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
}

#reseau{
    background-image: url("../asset/reseau.png");
    
}

#dev{
    background-image: url("../asset/dev.png");
}

#xp{
    background-image: url("../asset/xp.png");
    
}

#certif{
    background-image: url("../asset/certif.png");
}

#me{
    background-image: url("../asset/me.png");
}

body main ul li {
    color: beige;
    background-color: var(--bgcolor-header);
    line-height: 35rem;
    text-align: center;
    background-color: var(--bgcolor-header);
    line-height: 35rem;
    text-align: center;
    border-radius: 5rem;
    display: block;
    float: left;
    width: calc(100% / 5 - 1rem);
    height: 35rem;
    margin: 17.5rem 0.5rem 17.5rem 0.5rem;
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    background-size: cover; /* Couvrir entièrement la carte */
    background-position: center; /* Centrer l'image */
    position: relative;
    transition: background-image 0.3s ease, filter 0.3s ease;
}

body main ul li a {
    z-index: 3;
    text-decoration: none;
    color: var(--theme-text-color);
}

body main ul li:hover{
    transform: scale(1.15); /* Agrandir la carte de 15% au survol */
    transition: transform 0.3s ease;
    z-index: 2;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0);
    line-height: 65rem;
    background-image: none;
    filter: blur(5px);
}

body main ul li:hover .hidden-text {
    display: block;
    opacity: 1;
}

.hidden-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* footer */ 

footer{
    text-align: center;
    background-color: var(--bgcolor-header);
    color: var(--theme-text-color);
    line-height: 4.5rem;
    margin-top: 8.8rem;
}

